<% include ./partials/header %>
<h1>Live contests</h1>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% contests.forEach(function(contest) { %>
        <div class="col-med-3 col-sm-6">
            <div class="thumbnail">
                <p>
                    <a href="/contests/<%= contest._id %>" class="btn btn-primary">
                        <img src= "<%= contest.coverUrl %>" >
                    </a>
                </p>    
                <div class="caption">
                    <h4><%- contest.contestName %> </h4>
                </div>
            </div>
        </div>
    <% }); %>
</div> 
<% include ./partials/footer %>
