<% include ./partials/header %>
<div class="register">
    <h1>join us</h1>
    <a href="/login">login</a>
</div>



<div>
    <h1>create contest</h1>
    <a href="/contests/new">create contest</a>
</div>

<div>
    <h1>live contest</h1>
    <a href="/contests">live contest</a>
</div>



<form action="/contests" method="POST">
    <button>hit</button>
</form>

<% include ./partials/footer %>
