<% include ./partials/headerauth %>
<div class="container">
        <div>
            <%= error %>
        </div>
</div>

    <div class="loginBox">
        <div class="title">
            Welcome back !
        </div>
        <div>
            <a href="/auth/facebook">
                <input type="button" value="Continue using Facebook" class="fbButton">
            </a>
        </div>
        <div>
            <a href="/auth/google">
                <input type="button" value="Continue using Google" class="fbButton">
            </a>
        </div>
        <p class="para">OR</p>

        <form method="POST" action="/login">
            <div>
                <span>USERNAME</span>
                <input type="text" name='username' autocomplete="on">
            </div>
            <div>
                <span>PASSWORD</span>
                <input type="password" name='password' autocomplete="off">
            </div>
            <button class="submit">Login</button>
        </form>

        <div class="register">
            Need an account?
            <a href="/register">Register</a>
        </div>
    </div>

    <% include ./partials/footer %>
