<% include ./partials/header %>
<h3>contest successfully created</h3>
<p>participate in contest uploading photos</p>
<a href="<%= contest.url%>">Live here</a>
<p>or</p>
<p>Share link to others to participate in or get upvote</p>
<p>link share url</p>

<h4>result of contest will be declared here</h4>


<% include ./partials/footer %>
