<% include ./partials/header %>
<h1>Result page</h1>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% results.forEach(function(result) { %>
        <div class="col-med-3 col-sm-6">
            <div class="thumbnail">
                <p>
                    <a href="/results/<%= result._id %>" class="btn btn-primary">
                        <img src= "<%= result.coverUrl %>" >
                    </a>
                </p>    
                <div class="caption">
                    <h4><%- result.contestName %> </h4>
                </div>
            </div>
        </div>
    <% }); %>
</div> 
<% include ./partials/footer %>
