body{
    background: url('palm-leaf.png')
}
.loginBox {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 2px #999;
    box-sizing: border-box;
    /* color: #72767d; */
    font-size: 18px;
    padding: 40px;
    width: 480px;
}

.title {
    font-size: 26px;
    line-height: 32px;
    /* color: #fff; */
    margin-bottom: 20px;
}

.para {
    margin: 0;
    padding: 0;
}

button,
input {
    margin: 5px 0px;
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, .3);
    /* color: #f6f6f7; */
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    transition: background-color .15s ease, border .15s ease;
    width: 100%;
}

.submit {
    background-color: #7289da;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.submit:hover {
    background-color: #677bc4;
}

span {
    margin-bottom: 0;
    display: block;
    /* color: #b9bbbe; */
    text-align: left;
    letter-spacing: .5px;
    font-size: 12px;
    line-height: 16px;
}

.fbButton {
    font-size: 16px;
    line-height: 20px;
    background: #3f507b;
}

.fbButton:hover {
    background: #4267b2;
}

.register {
    text-align: left;
    font-size: 14px;
    line-height: 16px;
}

a {
    color: #7289da;
    font-size: 15px;
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
}